{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo"><img src="/images/lang-logo.png"></a>
    <h1>Projeto em PHP pra o trabalho de Devops</h1>
    <p>Trabalho da disciplna de Devops da Pós em Cloud Computing, com a atividade de desenvolver um Pipeline para Continuous Integration e Continuos Delivery</p>
  </div>
</div>
{% endblock %}
